@font-face {
  font-family: <YourWebFontName>;
  src: <source> [<format>][,<source> [<format>]]*;
/*  [font-weight: <weight>];
  [font-style: <style>];*/
}


body {
  background-color: #C9C9C9;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #D8D8D8;
  padding-bottom: 26px;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #D8D8D8;
  padding-bottom: 6px;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #D8D8D8;
  padding-bottom: 6px;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #D8D8D8;
  padding-bottom: 6px;
}

#container {
  background-color: #EBEBEB;
}

#stickerWord {
  /*background-color: #00FF00;*/
  /*display: none;*/
}

/*#inputBoxContainer {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}*/

#inputBox {
	width: 320px;
	height: 60px;
	border: 1px solid #A0A0A0;
/*	padding: 5px;
  padding-bottom: 6px;*/
	font-size: 32px;
	font-family: Pingfang;
	text-align: center;
}

#stickerPreview {
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	height: 120px;
	background-image: url("images/stickerBgtest.png");
	background-repeat:no-repeat;
	background-position:center;
}

#getTextSize {
  font-size: 32px;
  position: absolute;
  top: 400px;
  font-family: Pingfang;
  color: transparent;
  /*display: none;*/
}

.weui-btn {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  padding-left: 14px;
  padding-right: 14px;
  box-sizing: border-box;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  line-height: 2.55555556;
  border-radius: 8px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overflow: hidden;
}

.weui-btn-small {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80px;
  padding-left: 14px;
  padding-right: 14px;
  box-sizing: border-box;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  line-height: 2.55555556;
  border-radius: 8px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overflow: hidden;
}

.weui-btn:after {
  content: " ";
  width: 200%;
  height: 200%;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  box-sizing: border-box;
  border-radius: 10px;
}

.weui-btn_default {
  color: #000000;
  background-color: #F8F8F8;
}

.weui-btn_default:not(.weui-btn_disabled):visited {
  color: #000000;
}
.weui-btn_default:not(.weui-btn_disabled):active {
  color: rgba(0, 0, 0, 0.6);
  background-color: #DEDEDE;
}
